{% extends "base.html" %}
{% load static %}

{% block extend_header %}{% endblock %}

{% block extend_footer %}{% endblock %}

{% block content %}
  <h1>Welcome, {{ user.first_name }}!</h1>
  <p>You are logged in as a patient.</p>
  <div>
      <h2>Your Appointments</h2>
      <a href="{% url 'request_appointment' %}">Request an Appointment</a>
      <a href="{% url 'view_medications' %}">View Medications</a>
      <a href="{% url 'send_message' %}">Send Message to Doctor</a>
  </div>
{% endblock %}
