{% extends "base.html" %}
{% load static %}

{% block title %}Home{% endblock %}

{% block extend_footer %}{% endblock %}

{% block content %}
<div>
  {% if user.is_authenticated %}
  <div class="sidebar">
    <a href="{% url 'dashboard' %}">Dashboard</a>
    <a href="{% url 'home' %}">Messages</a>
  </div>
  <div class='content'>
    <h3>Hi {{ user.first_name }}!</h3>
  </div>
  {% else %}
  <div style="text-align:center">
    <p>To be able to view the content, please log in or sign up.</p>
  </div>
  {% endif %}
</div>
{% endblock %}